.App {
  text-align: center;
}

.div-select {
  display: flex;
  justify-content: center;
}

.div-Select-MenuType {
  margin: 10px;
}

.select {
  margin: 10px;
}



.div-menu {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-menu {
  width: 300px;
}

.form-menu-divider {
  display: flex;
}

.btn-form-menu {
  margin-left: 52%;
}